*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --red-pri : #ee2e24;
    --orange-pri : #f99b2a;
    --text : #333333;
    --border : rgba(0, 0, 0, 0.15);
    --foot-bg : #F4F4F4;
}

html{  
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.05em; 
}

ul{
    padding-left: 0px;
    margin-left: 0px;
    list-style: none;
    display: block;
}

li{
    padding-left: 0px;
    margin-left: 0px;
    display: block;
}

a{
    text-decoration: none;
    color: black;
    display: block;
}

img{
    width: 100%;
    height: auto;
}

.base__title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.base__heading{
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    display: inline-block;
    margin: 0 auto;
    border-bottom: 3px solid var(--red-pri);
    padding-bottom: 7px;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
}

.base-item__icon{
    /* chỉnh icon vuông  */
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.base-item__icon img{
    width: 52px;
    height: 45px;
}

.base-item__text{
    font-weight: 600;
    text-align: center;
    margin-top: 8px;
}

.base-btn{
    display: inline-block;
    padding: 10px 28px 11px 28px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0;
    border: 1px solid var(--red-pri);
    border-radius: 20px;
    cursor: pointer;
    color: var(--red-pri);
    text-transform: uppercase;
    box-sizing: border-box;
}

/* animation  */
.changer-btn--red{
    transition: all 0.5s ease;
}

.changer-btn--red:hover{
    color: white;
    background-color: var(--red-pri);
    border: 1px solid var(--red-pri);
}

.changer-btn--white{
    transition: all 0.5s ease;
}

.changer-btn--white:hover{
    color: var(--red-pri);
    background-color: white;
    border: 1px solid var(--red-pri);
}

/* svg color  */

.base-item__icon{
    transition: all 0.2s ease;
}

.base-item__icon svg{
    width: 41px;
    height: 43px;
    color: var(--red-pri);
    transition: all 0.5s ease;
}

.base-item__icon.active{
    background-color: var(--red-pri);
}

.base-item__icon.active svg{
    color: white;
}

.base__item:hover svg{
    color: white;
}

.base__item:hover .base-item__icon{
    background-color: var(--red-pri);
}

