*{
    padding: 0;
    margin: 0;
}

:root{
    --red-pri : #ee2e24;
    --orange-pri : #f99b2a;
    --text : #333333;
    --border : rgba(0, 0, 0, 0.15);
    --foot-bg : #F4F4F4;
}

html{  
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

ul{
    padding-left: 0px;
    margin-left: 0px;
    list-style: none;
    display: block;
}

li{
    padding-left: 0px;
    margin-left: 0px;
    display: block;
}

a{
    text-decoration: none;
    color: black;
    display: block;
}

.base__title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.base__heading{
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.05em;
    display: inline-block;
    margin: 0 auto;
    border-bottom: 3px solid var(--red-pri);
    padding-bottom: 10px;
    text-transform: uppercase;
}

.base__menu{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    padding: 0 120px;
    overflow: auto;
    /* ẩn scroll  */
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.base__menu::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}

.base__item{
    min-width: 118px;
    /* max-width: 120px; */
    margin: 0 10px;
}

.base-item__icon{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.base-item__icon.active{
    background-color: var(--red-pri);
}

.base-item__text{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 8px;
}

.base-btn{
    display: inline-block;
    padding: 11.5px 30px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    border: 1px solid var(--red-pri);
    border-radius: 20px;
    cursor: pointer;
    color: var(--red-pri);
    text-transform: uppercase;
}

.base-btn i{
    margin-left: 5px;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}