@media (max-width:760px){
    /* base  */
    .base__menu{
        margin-top: 20px;
        padding: 0;
        justify-content: flex-start;
    }

    .base__item{
        margin-bottom: 23px;
        max-width: calc((100% /4) - 20px);
    }

    .base-item__icon {
        width: 60px;
        height: 60px;
    }

    .base-item__icon img{
        width: 35px;
        height: 35px;
    }

    .base-item__text{
        font-size: 10px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: 0.05em;
        text-align: center;

    }

    .base-item__icon.active ~ .base-item__text{
        color: var(--red-pri);
    }

    .base__heading{
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.05em;
        text-align: center;
    }

    /* app  */
/* 
    .app{
        width: 100%;
    } */

    .header{
        height: auto;
        display: flex;
        align-items: center;
    }

    .header::after{
        height: 2.69px;
        bottom: -11px;
        left: 0px;
        width: 100%;
        height: 2px;
        border-bottom: 8.97px solid var(--orange-pri);
        z-index: 2px;
    }

    .header__logo{
        padding: 0;
        max-width: 90px;
    }

    .header__content{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px 0;
        justify-content: center;
    }


    .header__logo{
        padding: 13px 16.2px 8.09px 16.21px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        float: left;
    }

    .header__logo::after{
        display: none;
    }

    .header__box{
        background-color: var(--red-pri);
    }

    .header__menu{
        display: none;
    }

    .header__form{
        padding: 0;
        position: relative;
    }

    .header-form__input{
        width: 100%;
    }

    .header-form__icon{
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: transparent;
    }

    .header-form__icon img{
        display: none;
    }

    .header-form__icon--mobile{
        display: block !important;
    }

    .header-icon__item--nonmobile{
        display: none;
    }

    .header-icon__link img{
        display: none;
    }

    .header-icon__link--active {
        display: block !important;
    }

    .header__language{
        display: none;
    }

    .swiper{
        border: none;
        margin-top: 10px;
    }

    .category__menu{
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 7px;
    }
    
    .category__item{
        /* width: 78.5px;
        min-width: 78.5px; */
    }

    .category-item__icon{
        /* width: 60px;
        height: 60px; */
    }

    .category-item__icon img{
        /* width: 35px;
        height: 35px; */
    }

    .category__product{
        padding: 0;
    }

    .product-list__mobile--block{
        width: 100%;
        overflow: auto;
        /* ẩn scroll  */
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
    }

    .product-list__mobile--block::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
    }

    .product__list{
        min-width: 700px;
        /* để scroll  */
        flex-wrap: wrap;
    }

    .product__item{
        margin-bottom: 0px;
        margin-top: 23px;
    }

    .product-item__img{
        /* width: 170px;
        height: 160px; */
    }

    .product-item__title{
        margin-top: 10px;
    }

    .product-item__price{
        margin-top: 5px;
    }

    .category__banner{
        /* height: 140px; */
    }

    .service{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .service__menu{
        margin-top: 27px;
        margin-bottom: 55px;
        display: flex;
        justify-content: space-around;
        /* width: 415px; */
        overflow: auto;
        -ms-overflow-style: none;
    }

    .service__menu::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
    }

    .service__item{
        margin: 0;
        min-width: calc((100% /4) - 20px);
        padding: 0px 10px;
    }

    .event{
        padding-top: 18px;
    }

    .event__list{
        margin-top: 14px;
        margin-left: 10px;
        justify-content: flex-start;
        overflow-x: auto;
        /* ẩn scroll  */
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
    }

    .event__list::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
    }

    .event__item{
        min-width: calc((100% / 2) - 40px);
        padding: 0 10px;
    }

    .event__btn{
        margin-top: 13px;
    }

    .footer{
        margin-top: 114px;
        padding-bottom: 50px;
    }

    .footer__box{
        height: auto;
    }

    .footer__form{
        max-width: calc(100% - 40px);
        margin: 0 auto;
    }

    .footer__form{
        padding: 0;
    }

    .form__inner{
        display: block;
        position: relative;
    }

    .form__logo{
        max-width: 105px;
        padding-left: 68.25px;
    }

    .form__logo img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .form__title{
        display: none;
    }

    .form__icon{
        display: flex !important;
        position: absolute;
        top: 22px;
        right: 25px;
        margin: 0;
        z-index: 3;
    }
    .form__icon::after{
        display: none;
    }

    .form-input__box{
        padding-top: 20px;
        justify-content: space-evenly;
    }

    .form__input{
        max-width: 180px;
        margin: 0;
    }

    .form__btn{
        margin: 0;
        width: 137px;
    }

    .footer__heading{
        padding-bottom: 13.3px;
    }

    .footBody{
        display: block;
        margin: 0;
        padding-bottom: 23px;
    }

    .footBody-content__text{
        margin: 0;
        padding: 0px 58px 0px 20px;
        font-size: 10px;
        font-weight: 400;
        line-height: 18px;
    }

    .footBody-content__text p{
        padding-bottom: 5px;
    }

    .footer__foot{
        margin: 0px 0px 0px 20px;
        justify-content: flex-start;
        flex-wrap: wrap;
        /* max-height: 20px; */
    }

    .foot__list{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .foot__item{
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        text-align: left; 
        margin-bottom: 18px;
    }

    .foot__end{
        font-size: 9px;
        font-weight: 400;
        line-height: 11px;
    }

    .footer__heading{
        font-size: 14px;
        line-height: 24px;
    }

    .footer__heading strong{
        display: block;
    }
    
    .footer__heading i{
        display: none;
    }
/* -------------------------------- */
    /* nav mobile  */

    .mobile__item{
        display: block;
    }

    .mobile__item--none{
        display: none;
    }

    .header__menu{
        display: flex;
        position: fixed;
        background-color: white;
        min-width: 100%;
        bottom: 0px;
        left: 0px;
    }

    .header__item{
        width: 100%;
        min-width: calc((100% /5) - 20px);
        margin: 0;
        padding: 0;
        position: relative;
    }

    .mobile-item__box--red{
        max-width: 70px;
    }

    .mobile__item--red{
        width: 100%;
        position: absolute;
        bottom: 0%;
        transform: translateY(25%);
        left: 0%;
        background-color: var(--red-pri);
        min-width: 80px;
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .mobile__item--red .header-item__title{
        color: white;
    }
}

