@media (min-width:761px) and (max-width:1024px){
    .header{
        height: auto;
        display: flex;
        align-items: center;
    }

    .header::after{
        height: 2.69px;
        bottom: -11px;
        left: 0px;
        width: 100%;
        height: 2px;
        border-bottom: 8.97px solid var(--orange-pri);
        z-index: 2px;
    }

    .header__logo{
        padding: 0;
        max-width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-left: 18px;
        margin-right: 10px;
    }

    .header__content{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px 0;
        justify-content: space-evenly;
    }

    .header__logo::after{
        display: none;
    }

    .header__box{
        background-color: var(--red-pri);
        padding-right: 7px;
        padding-top: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__form{
        padding: 0;
        position: relative;
    }

    .header-form__input{
        width: 100%;
        min-width: 300px;
    }

    .header-form__icon{
        position: absolute;
        top: 1px;
        right: -10px;
        background-color: transparent;
    }

    .header-form__icon img{
        display: none;
    }

    .header-form__icon--mobile{
        display: block !important;
    }

    .header-icon__item--nonmobile{
        display: none;
    }

    .header-icon__link img{
        display: none;
    }

    .header-icon__link--active {
        display: block !important;
    }

    .header__language{
        display: none;
    }

    /* nav mobile  */

    .mobile__item{
        display: block;
    }

    .mobile__item--none{
        display: none;
    }

    .header__menu{
        display: flex;
        position: fixed;
        background-color: white;
        min-width: 100%;
        bottom: 0px;
        left: 0px;
        padding: 10px 0px;
    }

    .header__item{
        width: 100%;
        min-width: calc((100% /5) - 20px);
        margin: 0;
        padding: 0;
        position: relative;
    }

    .mobile-item__box--red{
        max-width: 70px;
    }

    .mobile__item--red{
        position: absolute;
        bottom: 0%;
        transform: translate(40%,25%);
        left: 0%;
        background-color: var(--red-pri);
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .mobile__item--red .header-item__title{
        color: white;
    }

    .category__menu{
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 0 80px;
    }
    
    .category__item{
        width: calc((100% - 80px) / 4);
        /* margin: 0 10px; */
        margin-bottom:20px ;
    }

    .service__menu{
        padding: 0 50px;
    }

    .event__list{
        padding: 0 20px;
    }

    .footer{
        padding-bottom: 80px;
    }

    .form__input{
        margin: 0 20px;
    }

    .form__title{
        display: none;
    }

    .footBody{
        padding: 0 20px;
    }

    .footer__foot{
        margin: 0px 0px 0px 16px;
        display: block;
        /* max-height: 20px; */
    }

    .foot__list{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .foot__item{
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        text-align: left; 
        margin-bottom: 18px;
    }

    .foot__end{
        font-size: 9px;
        font-weight: 400;
        line-height: 11px;
    }
}