@media (max-width:1024px){
    .nav__content{
        padding: 0px;
    }

    /* icon ở nav  */
    .nav__content-menu-item{
        display: none;
    }

    .nav__content-menu{
        padding: 0px;
    }

    .swiper{
        height: 230px;
    }

    .product__list{
        flex-wrap: nowrap;
        overflow: auto;
        /* ẩn scroll  */
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
    }

    .product__list::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
    }

    .footBody{
        display: block;
    }

    .footBody__content-text{
        margin-right: 0px;
    }

    .footBody__ads{
        margin-top: 40px;
    }

    .footer__box{
        height: auto;
    }

    .footer__form{
        display: block;
        justify-content: center;
        align-items: center;
    }

    .footer__form{
        margin: 0;
    }

    .form__title{
        display: none;
    }

    .form__icon{
        display: none;
    }
}