.app{
    max-width: 1440px;
    margin: 0 auto;
    /* border-right: 1px solid black; 
    border-left: 1px solid black;  */
    /* note */
}

.mobile{
    display: none;
}

/* nav  */
.header{
    height: 78px;
    width: 100%;
    background-color: var(--red-pri);
    position: relative;
}

.header::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: white;
    border-bottom: 10px solid var(--orange-pri);
    z-index: 0;
}

.header__content{
    position: relative;
    height: 100%;
    z-index: 2;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

.header__logo{
    width: 165.03px;
    height: 43.69px;
    padding: 13px 16.2px 8.09px 16.21px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    float: left;
}

.header__logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__logo::after{
    position: absolute;
    content: "";
    height: 78px;
    top: 0px;
    left: 0px;
    border-left: 1px solid white;
}

.header__box{
    display: flex;
    height: 100%;
    background-color: white;
    align-items: center;
    /* justify-content: center; */
    /* padding-left: 40px; */
    /* padding-right: 31.5px; */
}

.header__menu{
    display: flex;
    padding-left: 38.28px;
    align-items: center;
    justify-content: space-between;
}

.header__item{
    margin: 0 10px;
    display: block;
}

.header-item__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.header-item__title{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--text);

}

.header__form{
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 10px;
}

.header-form__input{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    padding: 11.5px 15px;
    border-radius: 20px;
    color: var(--text);
    width: 240px;
    box-sizing: border-box;
    border: 1px solid var(--border);
}

.header-form__icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 20px;
    background-color: var(--red-pri);
}

.header-form__icon--mobile{
    display: none;
}

.header__icon{
    display: flex;
    align-items: center;
    /* padding-left: 5px;
    padding-right: 5px; */
}

.header-icon__link{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 2.5px;
}

.header-icon__link--active{
    display: none;
}



/* .header-icon__link {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
} */



.header__language{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    /* padding-right: 46.94px */
    /* padding-right: 29.94px;
    padding-left: 5px; */
    /* chỉnh  */
}

.header__language--vi,.header__language--eng{
    padding: 0 5px;
    color: var(--text);
    cursor: pointer;
}

.header__language--vi{
    border-right: 1px solid var(--border);
}

.header__language .active{
    color: var(--red-pri);
}

/* banner  */
.swiper {
    width: 100%;
    height: 420px;
    /* position: static; */
    border-top: 1px solid white;

}

.swiper-slide{
    width: 100%;
}

.swiper-slide img{
    width: 100%;
    object-fit: cover;
}

/* body  category*/

.category{
    
}


.category__product{
    padding: 0 120px;
    border-bottom: 1px solid var(--orange-pri);
}

.product__title{
    border-bottom: 1px solid var(--orange-pri);
}

.product__heading{
    
}

/* .product__heading::after{
    position: absolute;
    content: "";
    bottom: 0%;
    left: 0%;
    width: 100%;
    border-bottom: 1px solid var(--red-pri);
} */

.product__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    padding-bottom: 30px;
}

.product__item{
    width: 300px;
    min-width: 246px;
    margin-bottom: 20px;
}

.product-item__img{
    width: 100%;
    height: 246px;
    object-fit: cover;
}

.product-item__img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.product-item__title{
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-align: center; 
    margin-top: 10px;
}

.product-item__price{
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 10px;
    color: var(--red-pri);
}

.product__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    margin-bottom: 40px;
}

.category__banner{
    width: 100%;
    height: 420px;
}

.category__banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* body service  */

.service{
    background-color: var(--foot-bg);
    padding-top: 40px;
    padding-bottom: 40px;
}

.service__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -32px;
}

.service-btn__name{
    background-color: var(--red-pri);
    color: white;
}

/* body event  */

.event{
    padding-top: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.event__title{
    border-bottom: 1px solid var(--orange-pri);
}

.event__list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.event__item{
    width: 386.67px;
    height: 386.67px;
    margin-right: 10px;
    margin-left: 10px;
}

.event-item__link{
    display: block;
    width: 100%;
    height: 100%;
}

.event__item:first-child{
    /* margin-left: 10px; */
}

.event__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

/* footer  */

.footer{
    padding-top: 90px;
    background-color: var(--foot-bg);
    position: relative;
    /* note  */
    margin-top: 88px;
}

.footer__heading{
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase ;
    color: var(--red-pri);
}

.footBody{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    padding-bottom:33px;
    margin: 30px 120px 0;
}

.footBody__content{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.footBody-content__text{
    margin-right: 259px;
}

.footBody__ads{
    display: flex;
    align-items: flex-end;
}

.ads__logo{
    display: block;
    margin-right: 20px;
}

.ads__qrcode{
    display: block;
    margin-right: 10px;
}

.ads__download img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.download__app{
    display: block;
    width: 91px;
    height: 26px;
    margin-bottom:5px ;
}

.download__gg{
    display: block;
    width: 91px;
    height: 26px;
}

.footer__foot{
    margin: 2px 117px 0px 123px;
    padding-top: 20px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot__list{
    display: flex;
}

.foot__item{
    display: block;
    padding: 0 8px;
    border-left: 1px solid var(--border);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}

.foot__item:first-child{
    border: none;
    padding: 0 10px 0 0;
}

.foot__end{
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    
}

.footer__box{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateY(-50%);
}

.footer__form{
    background-color: white;
    width: 100%;
    max-width: 1047.25px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}

.form__logo{
    margin-right: 26px;
}

.form-title__heading{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;    
    color: var(--red-pri);
    min-width: 185px;
}

.form-title__desc{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text);
    margin-top: 5px;
}

.form-input__box{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    width: 100%;
    max-width: 448px;
}

.form__input{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px;
    border-radius: 20px;
    color: var(--text);
    width: 100%;
    max-width: 252px;
    box-sizing: border-box;
    margin: 0 20px;
    border: 1px solid var(--border);
}

.form__btn{
    font-weight: 400;
    background-color: var(--red-pri);
    color: white;
    margin-right: 10px;
}

.form__icon{
    display: flex;
    align-items: center;
    margin-left: 18px;
    position: relative;
}

.form__icon::after{
    position: absolute;
    content: "";
    top: -7px;
    left: -18px;
    height: 50px;
    border-left:1px solid var(--border) ;
}

.form-icon__item{
    display: block;
    margin: 0 5px;
    background-color: var(--orange-pri);
    color: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
}