.app{
    max-width: 1440px;
    margin: 0 auto;
    /* border-right: 1px solid black; 
    border-left: 1px solid black;  */
    /* note */
}

/* nav  */
.header{
    height: 78px;
    width: 100%;
}

.header__bg{
    width: 100%;
    position: relative;
}

.header__bg--red{
    height: 65px;
    width: 100%;
    background-color: var(--red-pri);
}

.header__bg--orange{
    height: 3px;
    border-bottom: 10px solid var(--orange-pri);
    background-color: white;
}

.header__content{
    width: 100%;
    height: 78px;
    padding:0px 0px 0px;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.header__logo{
    width: 166px;
    height: 44px;
    padding-bottom: 13px;
    padding-right: 16px;
    padding-left: 16px;
    position: relative;
}

.header__logo::after{
    position: absolute;
    content: "";
    height: 78px;
    top: -11px;
    left: 0px;
    border-left: 1px solid white;
}

.header__box{
    display: flex;
    height: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.header__menu{
    display: flex;
}

.header__item{
    margin: 0 10px;
    display: block;
}

.header-item__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.header-item__title{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--text);

}

.header__form{
    display: flex;
}

.header-form__input{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px;
    border-radius: 20px;
    color: var(--text);
    width: 240px;
    box-sizing: border-box;
    margin: 0 15px 0 32px;
    border: 1px solid var(--border);
}

.header-form__icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 5px;
    background-color: var(--red-pri);
}

.header__icon{
    display: flex;
}

.header-icon__link{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 5px;
}

/* .header-icon__link {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
} */



.header__language{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
}

.header__language--vi,.header__language--eng{
    padding: 0 5px;
    color: var(--text);
    cursor: pointer;
}

.header__language--vi{
    border-right: 1px solid var(--border);
}

.header__language .active{
    color: var(--red-pri);
}

/* banner  */
.swiper {
    width: 100%;
    height: 420px;
    position: static;
}

.swiper-slide{
    width: 100%;
}

.swiper-slide img{
    width: 100%;
    object-fit: cover;
}

/* body  category*/

.category{
    
}


.category__product{
    padding: 0 120px;
    border-bottom: 1px solid var(--orange-pri);
}

.product__title{
    border-bottom: 1px solid var(--orange-pri);
}

.product__heading{
    
}

/* .product__heading::after{
    position: absolute;
    content: "";
    bottom: 0%;
    left: 0%;
    width: 100%;
    border-bottom: 1px solid var(--red-pri);
} */

.product__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    padding-bottom: 30px;
}

.product__item{
    width: calc(100% / 4);
    min-width: 246px;
    margin-top: 20px;
}

.product__item-img{
    width: 100%;
    height: 246px;
}

.product__item-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.product__item-title{
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-align: center; 
    margin-top: 10px;
}

.product__item-price{
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 10px;
    color: var(--red-pri);
}

.product__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.category__banner{
    width: 100%;
}

.category__banner img{
    width: 100%;
    object-fit: cover;
}

/* body service  */

.service{
    background-color: var(--foot-bg);
    padding-top: 50px;
    padding-bottom: 40px;
}

.service__btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.service__btn-name{
    background-color: var(--red-pri);
    color: white;
}

/* body event  */

.event{
    padding-top: 40px;
}

.event__title{
    border-bottom: 1px solid var(--orange-pri);
}

.event__list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.event__item{
    width: calc((100% / 3) - 10px);
    margin: 0 10px;
}

.event__item img{
    width: 100%;
}

.event__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/* footer  */

.footer{
    padding-top: 90px;
    background-color: var(--foot-bg);
    position: relative;
    /* note  */
    margin-top: 100px;
}

.footer__heading{
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase ;
    color: var(--red-pri);
}

.footBody{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    padding-bottom:20px;
    margin: 30px 120px 0;
}

.footBody__content{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.footBody__content-text{
    margin-right: 259px;
}

.footBody__ads{
    display: flex;
    align-items: flex-end;
}

.ads__logo{
    display: block;
    margin-right: 20px;
}

.ads__qrcode{
    display: block;
    margin-right: 10px;
}

.ads__download img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ads__download-app{
    display: block;
    width: 91px;
    height: 26px;
    margin-bottom:5px ;
}

.ads__download-gg{
    display: block;
    width: 91px;
    height: 26px;
}

.footer__foot{
    margin: 0 120px;
    padding-top: 20px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot__list{
    display: flex;
}

.foot__item{
    display: block;
    padding: 0 10px;
    border-left: 1px solid var(--border);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}

.foot__item:first-child{
    border: none;
    padding: 0 10px 0 0;
}

.footer__foot-end{
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    
}

.footer__box{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateY(-50%);
}

.footer__form{
    background-color: white;
    width: 72%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 40px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}

.form__logo{
    margin-right: 26px;
}

.form__title-heading{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;    
    color: var(--red-pri);
}

.form__title-desc{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text);
    margin-top: 5px;
}

.form__input-box{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    width: 50%;
}

.form__input{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px;
    border-radius: 20px;
    color: var(--text);
    width: 57%;
    box-sizing: border-box;
    margin: 0 20px;
    border: 1px solid var(--border);
}

.form__btn{
    font-weight: 400;
    background-color: var(--red-pri);
    color: white;
    margin-right: 10px;
}

.form__icon{
    display: flex;
    align-items: center;
    margin-left: 30px;
    position: relative;
}

.form__icon::after{
    position: absolute;
    content: "";
    top: -7px;
    left: -18px;
    height: 50px;
    border-left:1px solid var(--border) ;
}

.form__icon-item{
    display: block;
    margin: 0 5px;
    background-color: var(--orange-pri);
    color: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
}