
.app{
    width: 100%;
    margin: 0 auto;
    /* max-width: 1440px; */
}

.mobile{
    display: none;
}

/* nav  */
.header{
    width: 100%;
    background-color: var(--red-pri);
    position: relative;
}

.header::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: white;
    border-bottom: 10px solid var(--orange-pri);
    z-index: 0;
}

.header__content{
    position: relative;
    height: 100%;
    z-index: 2;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

.header__logo{
    /* width logo  */
    width: 166.03px;
    padding: 13px 16.2px 8.09px 16.21px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    float: left;
}

.header__logo::after{
    /* vạch phân cách */
    position: absolute;
    content: "";
    height: 120%;
    top: 0px;
    left: 0px;
    border-left: 1px solid white;
}

.header__box{
    display: flex;
    background-color: white;
    /* align-items: center; */
}

.header__menu{
    display: flex;
    width: 100%;
    max-width: 480px;
    /* padding-left: 40px;
    padding-right: 40px; */
    align-items: center;
    justify-content: center;
}

.header-item__link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__item{
    margin: 0 10px;
    display: block;
    padding: 14px 0;
}

.mobile__item{
    display: none;
}

.header-item__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    /* căn chỉnh icon  */
    width: 30px;
    height: 30px;
}

.header-item__icon img{
    width: 32px;
    height: 33px;
}

.header-item__title{
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--text);
    padding-top: 2px;
}

.header__form{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 310px;
    justify-content: space-between;
}

.header-form__input{
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    padding: 13px 0px 11px 17px;
    border-radius: 20px;
    color: var(--text);
    max-width: 240px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--border);
}

.header-form__icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--red-pri);
    margin-right: 13px;
}

.header-form__icon--mobile{
    display: none;
}

.form-icon__img{
    display: flex;
    align-items: center;
}

.header__icon{
    display: flex;
    align-items: center;
}

.header-icon__link{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 9px;
}

.header-icon__link--active{
    display: none;
}

.header__language{
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.header__language--vi,.header__language--eng{
    padding: 0 5px;
    color: var(--text);
    cursor: pointer;
}

.header__language--vi{
    border-right: 1px solid var(--border);
}

.header__language .active{
    color: var(--red-pri);
}

/* banner  */
.banner{
    width: 100%;
}

.swiper {
    width: 100%;
    border-top: 1px solid white;
}

.swiper-slide{
    width: 100%;
}

/* body  category*/

.category__menu{
    display: flex;
    margin: 40px auto;
    justify-content: space-between;
    max-width: 1200px;
    margin-top: 34px;
    padding: 0 60px;
}

.category__item{
    width: calc((100% - 140px) /8 );
}

.category-item__icon svg{
    width: 41px;
    height: 43px;
}

.category__product{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid var(--orange-pri);
}

.product__title{
    border-bottom: 1px solid var(--orange-pri);
}

.product__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    padding-bottom: 35px;
}

.product__item{
    width: calc(100% / 4);
    padding-bottom: 20px;
    box-sizing: border-box;
    transition: all 0.2s ease ;
}

.product__item:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
}

.product-item__img{
    width: 100%;
    object-fit: cover;
}

.product-item__img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.product-item__title{
    font-weight: 600;
    line-height: 17px;
    text-align: center; 
    padding-top: 5px;
}

.product-item__price{
    font-weight: 600;
    line-height: 17px;
    text-align: center;
    margin-top: 10px;
    color: var(--red-pri);
}

.product__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    margin-bottom: 39px;
}

.category__banner{
    width: 100%;
}

/* body service  */

.service{
    background-color: var(--foot-bg);
    padding-top: 34px;
    padding-bottom: 40px;
}

.service__menu{
    display: flex;
    margin: 40px auto;
    justify-content: space-between;
    max-width: 880px;
    padding: 0 5px;
}

.service__menu--scroll{
    width: 100%;
    overflow: auto;
    -ms-overflow-style: none;
}

.service__menu--scroll::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}

.service__item{
    width: calc((100% - 100px) /6 );
    height: 100%;
}

.service__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -29px;
}

.service-btn__name{
    background-color: var(--red-pri);
    color: white;
}

/* body event  */

.event{
    padding-top: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.event__title{
    border-bottom: 1px solid var(--orange-pri);
}

.event__list--scroll{
    width: 100%;
    overflow: auto;
    /* ẩn scroll  */
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.event__list--scroll::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}

.event__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.event__item{
    width: calc((100% - 40px) / 3 );
}

.event-item__link{
    display: block;
    width: 100%;
}

.event__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

/* footer  */

.footer{
    padding-top: 92px;
    background-color: var(--foot-bg);
    position: relative;
    /* note  */
    margin-top: 88px;
}

.footer__inner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__heading{
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase ;
    color: var(--red-pri);
}

.footBody{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    padding-bottom: 14px;
    margin-top: 30px;
}

.footBody__content{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 20px;
}

.footBody__ads{
    display: flex;
    align-items: flex-end;
}

.ads__logo{
    display: block;
    margin-right: 20px;
}

.ads__qrcode{
    display: block;
    margin-right: 10px;
}

.ads__download img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.download__app{
    display: block;
    width: 91px;
}

.download__gg{
    display: block;
    width: 91px;
}

.footer__foot{
    padding-top: 20px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot__list{
    display: flex;
    padding: 2px 0px 0px 4px;
}

.foot__item{
    display: block;
    padding: 0 8px;
    border-left: 1px solid var(--border);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}

.foot__item:first-child{
    border: none;
    padding: 0 10px 0 0;
}

.foot__end{
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    padding: 3px 0px 0px 0px;
}

.footer__box{
    width: 100%;
    padding: 0px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateY(-50%);
}

.footer__form{
    background-color: white;
    width: 100%;
    max-width: 1047px;
    margin: 0 auto;
    padding: 0 40px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
}

.form__inner{
    display: flex;
    align-items: center;
    padding: 28px 0px 18px 0px;
}

.form__logo{
    margin-right: 19px;
}

.form__title{
    padding-bottom: 4px;
}

.form-title__heading{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;    
    color: var(--red-pri);
    min-width: 185px;
    text-transform: uppercase;
}

.form-title__desc{
    
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text);
    margin-top: 5px;
}

.form-input__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 448px;
}

.form__input{
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px;
    border-radius: 20px;
    color: var(--text);
    width: 100%;
    max-width: 252px;
    box-sizing: border-box;
    margin: 0 20px 0 27px;
    border: 1px solid var(--border);
}

.form__btn{
    font-weight: 400;
    background-color: var(--red-pri);
    color: white;
    margin: 0px 0px 4px 0px;
    padding: 11.5px 30px 11.5px 30px;
}

.form__icon{
    order: 1;
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 5px;
    position: relative;
}

.form__icon::after{
    position: absolute;
    content: "";
    top: -13px;
    left: -11%;
    height: 170%;
    border-left:1px solid var(--border) ;
}

.form-icon__item{
    display: block;
    margin: 0 5px;
    background-color: var(--orange-pri);
    color: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
}

