* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #333333;
  text-align: center;
}
ul {
  list-style: none;
  display: block;
}
li {
  display: block;
}
a {
  text-decoration: none;
  display: block;
}
img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  width: 100%;
  align-items: center;
}
.flex-center {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.base__input {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  color: #333333;
  text-align: center;
  text-align: left;
  padding: 13px 0px 11px 19px;
  border-radius: 20px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.base__menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}
.base-item__text {
  color: #333333;
  margin-top: 9px;
}
.base-item__text.active {
  color: #ee2e24;
}
.base__title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f99b2a;
}
.base__btn--white {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  color: #ee2e24;
  text-align: center;
  display: block;
  padding: 11.5px 28px 11.5px 28px;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ee2e24;
}
.base__btn--white:hover {
  color: #fff;
  background-color: #ee2e24;
}
.scroll {
  overflow: auto;
  /* ẩn scroll  */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.scroll::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.category__menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1080px;
  margin: 34px auto 40px;
}
.category__item {
  width: calc((100% - 140px) / 8);
}
.category-item__icon {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.2s ease;
}
.category-item__icon svg {
  width: 41px;
  height: 43px;
  color: #ee2e24;
}
.category-item__icon.active,
.category-item__icon:hover {
  background-color: #ee2e24;
}
.category-item__icon.active svg,
.category-item__icon:hover svg {
  color: #fff;
}
.category-item__icon.active .base-item__text,
.category-item__icon:hover .base-item__text {
  color: #ee2e24;
}
.category-item__text {
  color: #333333;
  margin-top: 9px;
}
.category-item__text.active {
  color: #ee2e24;
}
.category__product {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.product__title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f99b2a;
}
.product__heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #333333;
  text-align: center;
  border-bottom: 3px solid #ee2e24;
  padding-bottom: 7px;
  text-transform: uppercase;
}
.product__list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.product__item {
  width: calc((100% - 60px) / 4);
  padding-bottom: 20px;
  transition: all 0.2s ease;
  margin-left: 20px;
}
.product__item:nth-child(4n+1) {
  margin-left: 0px;
}
.product__item:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.product-item__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #000;
  text-align: center;
  margin-top: 6px;
}
.product-item__price {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #ee2e24;
  text-align: center;
  margin-top: 10px;
}
.product__btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 38px;
}
.product-btn__name {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  color: #ee2e24;
  text-align: center;
  display: block;
  padding: 11.5px 28px 11.5px 28px;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ee2e24;
  margin-top: -3px;
}
.product-btn__name:hover {
  color: #fff;
  background-color: #ee2e24;
}
.service {
  padding: 41px 0px 40px 0px;
  margin-top: 34px;
  background-color: #F4F4F4;
}
.service__title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f99b2a;
  border: none;
}
.service__heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #333333;
  text-align: center;
  border-bottom: 3px solid #ee2e24;
  padding-bottom: 7px;
  text-transform: uppercase;
}
.service__menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 880px;
  margin: 19px auto 44px;
}
.service__item {
  width: calc((100% - 50px) / 6);
}
.service-item__icon {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.2s ease;
}
.service-item__icon svg {
  width: 41px;
  height: 43px;
  color: #ee2e24;
}
.service-item__icon.active,
.service-item__icon:hover {
  background-color: #ee2e24;
}
.service-item__icon.active svg,
.service-item__icon:hover svg {
  color: #fff;
}
.service-item__icon.active .base-item__text,
.service-item__icon:hover .base-item__text {
  color: #ee2e24;
}
.service-item__text {
  color: #333333;
  margin-top: 9px;
  margin-top: 8px;
}
.service-item__text.active {
  color: #ee2e24;
}
.service__btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: -24px;
}
.service-btn__name {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  color: #fff;
  text-align: center;
  display: block;
  padding: 11.5px 28px 11.5px 28px;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  cursor: pointer;
  background-color: #ee2e24;
  border: 1px solid #ee2e24;
}
.service-btn__name:hover {
  color: #ee2e24;
  background-color: #fff;
}
.event {
  margin: 39px 0px 0px 0px;
}
.event__title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f99b2a;
}
.event__heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #333333;
  text-align: center;
  border-bottom: 3px solid #ee2e24;
  padding-bottom: 7px;
  text-transform: uppercase;
}
.event__list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 40px auto 0px;
}
.event__item {
  width: calc((100% - 40px) / 3);
}
.event__btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}
.event-btn__name {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  color: #ee2e24;
  text-align: center;
  display: block;
  padding: 11.5px 28px 11.5px 28px;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ee2e24;
}
.event-btn__name:hover {
  color: #fff;
  background-color: #ee2e24;
}
