@import "./mixin.less";

//footer

.footer{
    padding: 81px 0px 20px;
    margin-top: 109px;
    background-color: @color-bg;
    position: relative;
}

.footer__inner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__heading{
    .text(
        @font-size: @size-2xl,
        @font-weight: @weight-bold,
        @line-height: @line-height-xl, 
        @letter-spacing: @no-spacing,
        @color: @color-main
        );
    font-style: italic;
    text-transform: uppercase ;
}

.footBody{
    .flex-between();
    align-items: flex-end;
    border-bottom: 1px solid @color-border;
    padding-bottom: 12px;
    margin-top: 30px;
}

.footBody__content{
    .text(
        @font-weight:@weight-regular,
        @line-height: @line-height-2xl,
        @letter-spacing: @no-spacing, 
        @text-align: left
        );
}

.footBody__ads{
    display: flex;
    align-items: flex-end;
    padding-bottom: 2px;
}

.ads__logo{
    margin-right: 15px;
}

.ads__qrcode{
    margin-right: 16px;
}

.download__app, .download__gg{
    width: 91px;
}

.footer__foot{
    .flex-between();
    margin: 24px 0px 0px 0px;
    color: @color-text;
}

.foot__list{
    .flex-start();
    padding: 0px 0px 0px 0px;
}

.foot__item{
    .text(
        @font-size: @size-m , 
        @font-weight:@weight-regular, 
        @line-height: @line-height-xs, 
        @letter-spacing:@no-spacing,
        @text-align: left);
    padding: 0 8px;
    border-left: 1px solid @color-border;
    
    a{
        color: @color-text;
    }

    &:first-child{
        border: none;
        padding: 0px 8px 0px 0px;
    }
}

.foot__end{
    .text(
        @font-size: @size-m , 
        @font-weight: @weight-regular,
        @line-height: @line-height-xs,
        @letter-spacing: @no-spacing,
        @text-align: left);
    width: 100%;
    max-width: 205px;
}

// footer box 

.footer__box{
    width: 100%;
    position: absolute;
    top: 0px;
    transform: translateY(-50%);
}

.footer__form{
    background-color: white;
    max-width: 1047px;
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: @color-box-shadow; 
}

.form__inner{
    .flex-start();
}

.form__logo{
    width: 100%;
    max-width: 149.19px;
}

.form__title{
    width: 100%;
    max-width: 193px;
    margin: 1px 0px 0px 29px;
}

.form-title__heading{
    .text(
        @font-size: @size-2xl ,
        @font-weight: @weight-bold,
        @line-height: @line-height-xl,
        @letter-spacing: @no-spacing,
        @color: @color-main,
        @text-align: left);  
    text-transform: uppercase;
}

.form-title__desc{
    .text(
        @weight-regular,
        @line-height: @line-height-s,
        @letter-spacing: @no-spacing,
        @text-align: left
        );
    margin-top: 5px;
}

.form-input__box{
    .flex-between();
    max-width: 409px;
    margin: 0px 0px 0px 20px;
    
}

.form__input{
    .base__input();
    max-width: 252px;
}

.form__btn{
    .base__btn--main();
}

.form__icon{
    order: 1;
    .flex-between();
    max-width: 125px;
    position: relative;
    margin: 0px 0px 0px 42px;
}

.form__icon::after{
    position: absolute;
    content: "";
    top: -13px;
    left: -16%;
    height: 170%;
    border-left:1px solid @color-border ;
}

.form-icon__item{
    .flex-center();
    .text(
        @font-size: @size-xl, 
        @font-weight: @weight-regular, 
        @line-height: @line-height-s, 
        @letter-spacing: @no-spacing,
        @color: @color-white
    );

    .square(
        @width: @square-small,
        @height: @square-small,
        @background-color: @color-sub
    );
}