* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #333333;
  text-align: center;
}
ul {
  list-style: none;
  display: block;
}
li {
  display: block;
}
a {
  text-decoration: none;
  display: block;
}
img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  width: 100%;
  align-items: center;
}
.flex-center {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.base__input {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  color: #333333;
  text-align: center;
  text-align: left;
  padding: 13px 0px 11px 19px;
  border-radius: 20px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.base__menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}
.base-item__text {
  color: #333333;
  margin-top: 9px;
}
.base-item__text.active {
  color: #ee2e24;
}
.base__title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f99b2a;
}
.base__btn--white {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  color: #ee2e24;
  text-align: center;
  display: block;
  padding: 11.5px 28px 11.5px 28px;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ee2e24;
}
.base__btn--white:hover {
  color: #fff;
  background-color: #ee2e24;
}
.scroll {
  overflow: auto;
  /* ẩn scroll  */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.scroll::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
