@import "./variable.less";

//reset
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{  
    font-family: @main-font-family;
    font-size: @main-font-size;
    font-weight: @main-font-weight;
    line-height: @main-line-height;
    letter-spacing: @main-letter-spacing; 
    color: @color-text;
    text-align: center;
}

ul{
    list-style: none;
    display: block;
}

li{
    display: block;
}

a{
    text-decoration: none;
    display: block;
}

img{
    width: 100%;
    height: auto;
}

// mixin 
.flex{
    display: flex;
    width: 100%;
    align-items: center;
}

.flex-center{
    .flex();
    justify-content: center;
}

.flex-between{
    .flex();
    justify-content: space-between;
}

.flex-start{
    .flex();
    justify-content: flex-start;
}

.text(
    @font-size: @main-font-size , //14
    @font-weight: @main-font-weight, //500
    @line-height: @main-line-height, //20
    @letter-spacing : @main-letter-spacing, //0.05
    @color : @color-text,
    @text-align :center
    ){
    font-size: @font-size;
    font-weight: @font-weight;
    line-height: @line-height;
    letter-spacing: @letter-spacing;
    color: @color;
    text-align: @text-align;
}

.square(
    @width: @square,
    @height: @square,
    @border-radius: 50%,
    @background-color: transparent
    ){
        width: @width;
        height: @height;
        border-radius: @border-radius;
        background-color: @background-color; 
    }

.base__input{
    .text(
        @font-size: @size-m, 
        @font-weight :@weight-medium,
        @line-height: @line-height-xs,
        @letter-spacing: @no-spacing,
        );
    text-align: left;
    padding: 13px 0px 11px 19px;
    border-radius: 20px;
    width: 100%;
    border: 1px solid @color-border;
}

.base__menu{
    .flex-between();
    align-items: flex-start;
}

.base-item__icon( 
    @margin: 0 auto,  
    @bg-color: @color-white, 
    @box-shadow: @color-box-shadow, 
    @transition: all 0.2s ease,
    @width-svg: 41px,
    @height-svg: 43px,
    ){
    .flex-center();
    .square(
        @background-color: @bg-color;
    );
    margin: @margin;
    box-shadow: @color-box-shadow;
    transition: @transition;

    svg{
        width: @width-svg;
        height: @height-svg;
        color: @color-main;
    }

    &.active, &:hover{
        background-color: @color-main;
        
        svg{
            color: @color-white;
        }

        .base-item__text{
            color: @color-main ;
        }
    }  
}

.base-item__text{
    color: @color-text;
    margin-top: 9px;

    &.active{
        color: @color-main;
    }
}

.base__title{
    .flex-center();
    border-bottom: 1px solid @color-sub;
}

.base__heading(){
    .text(
        @font-size : @size-3xl ,
        @font-weight : @weight-bold,
        @line-height: @line-height-3xl,
        );
    border-bottom: 3px solid @color-main;
    padding-bottom: 7px;
    text-transform: uppercase;
}

.base__btn--main(
    @padding :11.5px 28px 11.5px 28px,
    @border-radius: 20px,
    @text-transform: uppercase,
    @transition: all 0.5s ease,
    @color: @color-white,
    @background-color: @color-main,
    @border: 1px solid @color-main,
    @color-hover: @color-main,
    @background-color-hover: @color-white,
    ){
    .text(
        @font-weight: @weight-bold,
        @line-height: @line-height-s,
        @letter-spacing: @no-spacing,
        @color: @color
        );
    display: block;
    padding: @padding;
    border-radius: @border-radius;
    text-transform: @text-transform;
    transition: @transition;
    cursor: pointer;
    background-color: @background-color;
    border: @border;

    &:hover{
        color: @color-hover;
        background-color: @background-color-hover;
    }
           
}

.base__btn--white{
    .base__btn--main(
    @color: @color-main,
    @background-color: @color-white,
    @color-hover: @color-white,
    @background-color-hover: @color-main,
    );
}


//base mobile
.scroll{
    overflow: auto;
    /* ẩn scroll  */
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
    }
}