* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.05em;
}
ul {
  list-style: none;
  display: block;
}
li {
  display: block;
}
a {
  text-decoration: none;
  display: block;
}
img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  width: 100%;
  align-items: center;
}
.flex-center {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.text12-400 {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.text12-500 {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  color: #333333;
  text-align: center;
}
.text14-400 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.text14-500 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.05em;
}
.text14-600 {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-align: center;
}
.text15-400 {
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.text20-600 {
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.05em;
}
.text18-600 {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.base__input {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  color: #333333;
  text-align: center;
  text-align: left;
  padding: 13px 0px 11px 19px;
  border-radius: 20px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.base__menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}
.base-item__icon {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.2s ease;
}
.base-item__icon svg {
  width: 41px;
  height: 43px;
  color: #ee2e24;
}
.base-item__icon.active,
.base-item__icon:hover {
  background-color: #ee2e24;
}
.base-item__icon.active svg,
.base-item__icon:hover svg {
  color: white;
}
.base-item__icon.active .base-item__text,
.base-item__icon:hover .base-item__text {
  color: #ee2e24;
}
.base-item__text {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-align: center;
  line-height: 20px;
  color: #333333;
  margin-top: 7px;
}
.base-item__text.active {
  color: #ee2e24;
}
.base__title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f99b2a;
}
.base__heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.05em;
  border-bottom: 3px solid #ee2e24;
  padding-bottom: 7px;
  text-transform: uppercase;
}
.base__btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-align: center;
  letter-spacing: 0px;
  display: block;
  padding: 11px 28px;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  cursor: pointer;
}
.base__btn--white {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-align: center;
  letter-spacing: 0px;
  display: block;
  padding: 11px 28px;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  cursor: pointer;
  border: 1px solid #ee2e24;
  color: #ee2e24;
}
.base__btn--white:hover {
  color: white;
  background-color: #ee2e24;
  border: 1px solid #ee2e24;
}
.base__btn--main {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-align: center;
  letter-spacing: 0px;
  display: block;
  padding: 11px 28px;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  cursor: pointer;
  color: white;
  background-color: #ee2e24;
  border: 1px solid #ee2e24;
}
.base__btn--main:hover {
  color: #ee2e24;
  background-color: white;
  border: 1px solid #ee2e24;
}
@media (max-width: 1024px) {
  .mobile__item {
    display: block;
  }
  .mobile__item--none {
    display: none;
  }
  .header__menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: white;
    max-width: 100%;
    padding: 10px 0px;
  }
  .header__item {
    width: calc((100% - 0px) / 5);
    margin: 0;
    padding: 0;
    position: relative;
  }
  .header__item:nth-child(2) {
    margin-right: 100px;
  }
  .mobile-item__box--red {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 25px;
    left: 0px;
  }
  .mobile__item--red {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #ee2e24;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .mobile__item--red .header-item__title {
    color: white;
  }
  .header {
    height: auto;
    display: flex;
    align-items: center;
  }
  .header::after {
    height: 2.69px;
    bottom: -11px;
    left: 0px;
    width: 100%;
    height: 2px;
    border-bottom: 8.97px solid #f99b2a;
    z-index: 2;
  }
  .header__content {
    align-items: center;
    width: 100%;
    padding: 10px 0px;
  }
  .header__logo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    max-width: 90px;
    position: relative;
    margin-left: 18px;
    margin-right: 10px;
  }
  .header__logo::after {
    display: none;
  }
  .header__box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    max-width: 400px;
    background-color: #ee2e24;
    padding: 0;
  }
  .header__form {
    padding: 0;
    position: relative;
  }
  .header-form__input {
    min-width: 300px;
  }
  .header-form__icon {
    position: absolute;
    top: 1px;
    right: 15px;
    background-color: transparent;
  }
  .header-form__icon img {
    display: none;
  }
  .header-form__icon--mobile {
    display: block !important;
  }
  .header__icon {
    min-width: 80px;
  }
  .header-icon__item--nonmobile {
    display: none;
  }
  .header-icon__link img {
    display: none;
  }
  .header-icon__link--active {
    display: block !important;
  }
  .header__language {
    display: none;
  }
  .category__menu {
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .category__item {
    width: calc((100% - 60px) / 4);
    margin-bottom: 20px;
  }
  .service__menu {
    padding: 0 20px;
  }
  .footer {
    padding: 80px 0px 120px;
  }
  .footer__form {
    max-width: calc(100% - 40px);
  }
  .form__title {
    display: none;
  }
  .form__input {
    max-width: 170px;
  }
  .footBody {
    padding: 0px 20px 12px;
  }
  .footer__foot {
    display: block;
    margin-left: 20px;
  }
  .foot__end {
    margin-top: 20px;
  }
}
