//color variable
@red-color : #ee2e24;
@orange-color : #f99b2a;
@grey-color : #333333;
@white-color :#fff;
@black-color: #000;
@grey-rgba-color: rgba(0, 0, 0, 0.15);
@white-grey-color : #F4F4F4;
//color
@main-color : @red-color;
@sub-color : @orange-color;
@text-color : @grey-color;
@border-color : @grey-rgba-color;
@bg-color : @white-grey-color;
//font main
@main-font-family : 'Montserrat', sans-serif;
@main-font-size : 14px;
@main-font-weight: 500;
@main-line-height: 20px;
@main-letter-spacing: 0.05em; 
//size
@size-small-1 : 9px;
@size-small-2 : 10px;
@size-small-3 : 12px;
@size-medium-1 : 14px;
@size-medium-2 : 18px ;
@size-medium-3 : 15px;
@size-large : 20px;
//weight 
@weight-regular: 400;
@weight-medium: 500;
@weight-bold: 600;
//line-height
@line-height-small-1: 10.97px;
@line-height-small-2: 12.19px;
@line-height-mediun-1: 14px;
@line-height-mediun-2: 15px;
@line-height-mediun-3: 17px;
@line-height-mediun-4: 18px;
@line-height-large-1: 20px;
@line-height-large-2: 22px;
@line-height-large-3: 24px;
@line-height-large-4: 36px;
//letter-spacing
@spacing : 0.05em;
@no-spacing : 0em;
//text-align
@center : center;
@left: left;